@import "tailwindcss";

@theme {
  --color-cream: #F0D6B4;
  --color-orange: #EF7627;
  --color-pink: #F49CBB;
  --color-red: #D52D00;
  --color-background: #D52D00;
  --color-foreground: #171717;
}

:root {
  --background: #D52D00;
  --foreground: #171717;
  --cream: #F0D6B4;
  --orange: #EF7627;
  --pink: #F49CBB;
  --red: #D52D00;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--code), Helvetica, sans-serif;
}
